.wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #ccccccbf;
  z-index: 100;
  position: fixed;
  top: 0;


  .image-dialog {
    position: relative;
    top: 20%;
    width: 600px;
    height: 600px;
    z-index: 1000;
    padding: 10px;
    border: 1px solid #cccccc;
    background-color: white;
    border-radius: 5px;

    .close-icon {
      color: black;
    }

    .img-overflow {
      width: 600px;
      height: 500px;
      border: 1px solid #cccccc;
      border-radius: 5px;
      overflow: scroll;
    }



    .btn-circle {
      display: flex;
      padding-top: 20px;

      .circle {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .circle-close {
        width: 120px;
        font-size: 24px;
      }
    }
  }
}
